@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    background: rgba(0, 0, 0, 0.959);
    color: #00b800;
    margin: .5rem;
    padding: 1rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border-radius: 10px;
}

body {
    font-weight: 400;
}

button {
    font-family: 'Press Start 2P', cursive;
    display: block;
    margin: 0 auto;
    border: none;
    background: #a80020;
    background: #00b800;
    padding: 10px 20px;
    text-transform: uppercase;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    text-align:center;
    width: 100%;
    padding: 1rem;
}
h4 {
    padding: 1rem;
}

textarea {
    font-family: 'Press Start 2P', cursive;
    border: 3px solid black;
    width: 90%;
    margin: 0 auto 2rem 0 ;
    outline: none;
    height: 200px;
    background: #00b800;
    padding: 10px;
    font-size: 10px;
}

textarea:disabled {
    background-color: #a5a2a2;
}
